# Build and target
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Environment and secrets
.env
.env.*
!.env.example

# IDEs and Editors
.idea/
*.iws
*.iml
*.ipr
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbproject/load-impl.xml
/nbproject/copylib-libraries.xml
